/* Global reset */
html {
    scroll-behavior: smooth;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* Apply font and colors */
  body {
    font-family: Ariel, Helvetica, sans-serif;
    background: linear-gradient(135deg, #111, #222, #333);
    color: white;
    margin: 0;
    padding: 0;
  }
  
  
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #111;
  }
  
  ::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
  }
  